
<div class="body">
    <div class="container">
        <img src="../assets/Timecraft.jpg" alt="Timecraft" width="100px" height="100px">

        <h2>Admin</h2>
        
        <app-primary-button (click)="GoToOrganization()">Organization</app-primary-button><br><br>
        <app-primary-button (click)="GoToEmployees()">Employees</app-primary-button><br><br>
        <app-primary-button (click)="GoToServices()">Services</app-primary-button><br>
        <!-- <app-primary-button (click)="GoToClientRequest()"> Client Request </app-primary-button> -->
    </div>
</div>