<!-- <p>new-password works!</p> -->

<div class="body">
    <div class="container">
        <img src="../assets/Timecraft.jpg" alt="Timecraft" width="100px" height="100px">
        <h2>Set new password</h2>
            <app-text-input title="Email" label="Email" [(ngModel)]="recoverData.email" name="email"></app-text-input><br>
            <app-text-input title="Code" label="Code" [(ngModel)]="recoverData.mfa" name="mfa"></app-text-input><br>
            <app-text-input title="New Password" label="New Password" [(ngModel)]="recoverData.newPassword" name="newPassword" type="password"></app-text-input><br>
            <app-primary-button (click)="NewPassword()">Confirm</app-primary-button>
    </div>
</div>