img {
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
}

.body {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  height: 100vh; /* Define a altura do body para a altura da tela */
  margin: 0; /* Remove margens padrão */
}

.container {
  border: 2px solid #ccc; /* Adiciona uma borda sólida */
  border-radius: 10px; /* Define o raio da borda para torná-la arredondada */
  padding: 20px; /* Adiciona um preenchimento interno para separar o conteúdo da borda */
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
}

.button-container app-secondary-button {
  margin-left: 20px;
}

.center {
  display: flex;
  justify-content: center;
}
